{% extends 'base.html' %}
{% block title %}Owner List{% endblock %}
{% block content %}
    <h1>Owners</h1>
    {% if object_list %}
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Last-Name</th>
            <th>email</th>
            <th>Details</th>
            <th>Update</th>
            <th>Delete</th>
        </tr>
        {% for obj in object_list%}
        <tr>
            <td>{{obj.name}}</td>
            <td>{{obj.last_name}}</td>
            <td>{{obj.email}}</td>
            <td><a href="/owner/{{obj.id}}">Detail</a></td>
            <td><a href="/owner/update/{{obj.id}}">Update</a></td>
            <td><a href="/owner/delete/{{obj.id}}">Del</a></td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Hiç kayıt bulunamamıştır</p>
    {% endif %}
{% endblock %}
