{% extends 'base.html' %}
{% block title %}Owner List{% endblock %}
{% block content %}
    <h1>Owners</h1>
    {% if objects %}
    <table>
        <tr>
            <th>Name</th>
            <th>Last-Name</th>
            <th>email</th>
        </tr>
        {% for obj in objects%}
        <tr>
            <td>{{obj.name}}</td>
            <td>{{obj.last_name}}</td>
            <td>{{obj.email}}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>Hiç kayıt bulunamamıştır</p>
    {% endif %}
{% endblock %}
